In [22]:
#import all the packages that are needeed 

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report, confusion_matrix
from io import BytesIO
from zipfile import ZipFile
import requests

In [4]:
# Download the ZIP file from the UCI ML Repository

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip"
response = requests.get(url)

In [5]:
# Extract the contents of the ZIP file

with ZipFile(BytesIO(response.content)) as zip_file:
    file_name = zip_file.namelist()[0]  # Assuming the first file in the ZIP is the one we need
    with zip_file.open(file_name) as file:
        # Load the dataset from the extracted file
        df = pd.read_csv(file, sep='\t', names=['label', 'text'])

In [7]:
# Explore the dataset

df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [23]:
df.tail()

     label                                               text
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [8]:
# Split the dataset into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.2, random_state=42)

In [10]:
# Convert text data to numerical features using CountVectorizer

vectorizer = CountVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)
X_test_vectorized = vectorizer.transform(X_test)

In [11]:
# Create and train the Naive Bayes classifier

classifier = MultinomialNB()
classifier.fit(X_train_vectorized, y_train)

MultinomialNB()

In [12]:
# Make predictions on the test set

predictions = classifier.predict(X_test_vectorized)

In [25]:
# Evaluate the model

accuracy = accuracy_score(y_test, predictions)
conf_matrix = confusion_matrix(y_test, predictions)
classification_rep = classification_report(y_test, predictions)

In [20]:
# Print the results

print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.99

In [18]:
print('Confusion Matrix:')
print('')
print(conf_matrix)

Confusion Matrix:

[[966   0]
 [  9 140]]

In [19]:
print('Classification Report:')
print('')
print(classification_rep)

Classification Report:

              precision    recall  f1-score   support

         ham       0.99      1.00      1.00       966
        spam       1.00      0.94      0.97       149

    accuracy                           0.99      1115
   macro avg       1.00      0.97      0.98      1115
weighted avg       0.99      0.99      0.99      1115